{% extends 'main/base.html' %}
{% load static %}

{% block title %}
   О нас
{% endblock %}

{% block content %}
<section class="mt-5">
    <div class="container">
          <div class="row">
            <div class="col">
              <div class="jumbotron">
                <h1 class="display-4">О нас</h1>
                <hr class="my-4">
                <p class="lead">
                    Компания Медмаг была основана в 2021 году и на сегодняшний день является одной из крупнейших федеральных розничных сетей с богатым ассортиментом медицинской, реабилитационной продукции, а также товаров для здоровья, красоты и спорта. Магазины компании находится в городе Астрахань
                </p>
                <p class="lead">
                    "Медмаг" стремится к развитию, постоянно открывает новые магазины и расширяет свой ассортимент. Продукция, представленная в интернет-магазине, доставляется по всей территории Российской Федерации и в страны СНГ.
                </p>
              </div>
            </div>
          </div>
    </div>
</section>
{% endblock %}